*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #84e6ac, #24d45c, #0f5525);
    display: flex;
    flex-direction: column;
}

h1{
    padding-top: 30px ;
    color: #eee;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}


.main-content{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin: 20px auto;
}

.content{
    font-size: 15px;
    padding: 20px;
    height: 100%;
    background-color: rgb(190, 190, 190);
    border: 1px solid white;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
}

footer{
    position: sticky;
    top: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    bottom: 0;
    margin-top: 30px;
}


/*

.container{
    width: 700px;
    margin: 30px auto;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: #eee;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

main{
    min-height: calc(80vh - 37px - 18px);
}
.main-content{
    display: inline-block;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin: 20px auto;
}

.content{
    /*border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px ;
    background-color: #fff;
    padding: 20px ; 
    margin: 20px ;

}

footer{
    background: #303036;
    color: #d3d3d3;
    text-align: center;
    padding: 20px;
}*/
